body
{
    background:url(Maths.png);
}
h1{
    color: magenta;
    text-align: center;
    font-weight: bold;
    font-family: comic sans ms;
    background-color: aqua;
   
}

h4{
    color:blueviolet;
    font-family: comic sans ms;
    font-size: 25px;
}
button{
    width: 20%; 
    color: black; 
    font-weight: bold; 
    border-radius: 5px
}